@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Pangolin&display=swap');

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #000000;

}


header {


      background-size: 100%;
    opacity:0.8;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #515151c7;
    background-image: url(./assetts/beerBootle.jpg  );

text-align: center;

    gap: 20px;
    height: 600px;
align-items: center;
    background-repeat: no-repeat;
    justify-content: space-around;


    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h4 {
    font-family: 'Pangolin', sans-serif;
    font-size: 32px;
    text-shadow: -2px 0 #ffffff, 0 2px #ffffff, 2px 0 #ffffff, 0 -2px #ffffff;
    margin: 20px;
    color: #000000;
    text-align: center;
    width: 100vw;
    background-color: #0000007a;
    margin: 0;
    

}

h1 {

background-color: #0000007a;
    font-family:'Pangolin';   
    font-size: 160px;
    text-shadow: -2px 0 #ffffff, 0 2px #ffffff, 2px 0 #ffffff, 0 -2px #ffffff;
    margin: -324px;
    color: #000000;
    text-align: center;
    width: 100vw;
  





}



.headerBtn button {

    font-size: 20px;
    background-color: white;
    border: 2px solid black;
    width: 45%;


    margin: 40px 20px 10px 40px



}



:hover#previousButton {
    background-color: rgb(255, 168, 54);
    ;
}

:hover#nextButton {
    background-color: rgb(255, 168, 54);
    ;
}

:active#previousButton {
    background-color: rgb(0, 0, 0);
    color: white;
}

:active#nextButton {
    background-color: rgb(0, 0, 0);
    color: white;
}




.card-brewerie {

    background-color: rgba(152, 124, 0, 0.502);

    display: flex;
    flex-wrap: wrap;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    width: 20%;
    margin: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    gap: 30px;
    /* border: 2px solid black;
    border-radius: 20px; */
    color: #ffffff;
    border: 2px solid rgb(71, 71, 71);
    



}


.card-brewerie strong {

    font-size: 24px;
    font-family: 'Pangolin', cursive;
}


.card-brewerie span {

    font-size: 24px;
    font-family: 'Pangolin', cursive;
}

.card-brewerie button {

    font-size: 20x;
    background-color: white;
    border: 2px solid black;
    width: 200px;
    margin-bottom: 20px;


}

:active.card-brewerie button {
    background-color: rgb(0, 0, 0);
    color: white;
}

:hover.card-brewerie button {
    background-color: rgb(255, 168, 54);
    ;
}

#main-container {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 200px;

}




#details-wrapper {
    background-color: rgba(255, 255, 255, 0.502);
    display: flex;
    flex-wrap: wrap;
    font-family: 'Nunito Sans', sans-serif;

    font-size: 24px;
    margin: auto;
    padding: 30px;
    flex-direction: column;
    margin: auto;
    align-items: center;
    height: 500px;
    justify-content: center;

}

.detailsBody {
    background-image: url(./assetts/beer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage-btn {

    font-size: 40px;
    background-color: white;
    border: 2px solid black;
    width: 200px;
    text-decoration: none;


}

:hover.homepage-btn {
    background-color: rgb(255, 168, 54);
    text-decoration: none;

}

:active.homepage-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;

}

:focus.homepage-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;

}

.paragraph-dtls {

    font-size: 20px;
    padding: 50px;
    text-align: left;
    background-color: #ffffffa5;
    font-family: 'Nunito Sans', sans-serif;
}